body{	background-attachment: fixed;
	background:url("/static/img/contact.jpg");
	background-size:cover;
	background-position:center;

}
.navbar-default{
	background:black;
}
#content1{
	margin-top:150px;
	text-align:center;
	font-weight: 700;
	font-size:20px;

}
#footer{
	text-align:center;
	margin-top:115px;
	color:white;
}